/*1.tirar margem da header
  2.fazer uma configuracao global para header, 
  para todas as paginas nao precisarem ter as mesmas configuracoes
*/

img #img-header{
	margin: 0px 0px 0px 0px;
}

#menu{
	align:right;
}

#menu ul li{
	display: inline;
}