/*1.tirar margem da header (OK)
  2.fazer uma configuracao global para header, 
  para todas as paginas nao precisarem ter as mesmas configuracoes
*/


/*===========Cabeçalho==============*/

header{
	margin-left: -7px;
	margin-top: -7px;
}

/*====Nav-bar (barra de navegação com links)=====*/

nav{
	display: block;
	margin-left: -46px;
	margin-top: -12px;
}

nav ul.navmenu li{
	display: inline;
	list-style: none;
}

nav ul.navmenu li.l1{
	border-right: 1px solid red;
}

nav ul.navmenu li.l0{
	border-right: 1px solid red;
	border-left: 1px solid red;
}

nav ul.navmenu a{
	color: rgb(156,150,150);
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana; /*nao funciona ~> funciona sim, já está em Verdana*/
	transition: color;
	margin-right: 3px;
	margin-left: 3px;
}

/*deve ter um jeito mais inteligente de fazer isso*/
nav ul.navmenu #selecionado{
	color: rgb(207,0,0);
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana; /*nao funciona ~> funciona sim, já está em Verdana, esse trecho é inútil*/
	transition: color;
	margin-right: 3px;
	margin-left: 3px;
}

nav ul.navmenu a:hover{
	color: rgb(20,116,189);
}

/*=========Texto da esquerda===========*/

div.texto-esquerda {
	display: block;
	float:left;
	margin-left: -7px;
	width: 80px;
}

div.texto-esquerda h2{
	font-size: 8pt;
	font-family: Verdana; /*nao funciona*/
	color: rgb(207,0,0);
	border-top: solid;
	border-color: (207,0,0);
	border-width: 1px;
}

div.texto-esquerda p{
	font-size: 8pt;
	font-family: Verdana;/*nao funciona*/
	font-weight: bold;
}

div.texto-esquerda #img-wifi{
	width: 80px;
	height: 70px;
}

div.texto-esquerda #img-cotianet{
	width: 80px;
	height: 100px;
	padding-top: 100px;
}

/*=====Texto principal (texto central)=====*/

div.texto-principal{
	display: block;
	float:left;
	margin-left: 50px;
	width: 350px;
}

div.texto-principal h1{
	font-family: arial;
	font-size: 11pt;
	color: rgb(20,116,189);
}

div.texto-principal p{
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.texto-principal p.sem-reserva{
	font-family: arial;
	font-size: 11pt;
	border: 1px solid rgb(207,0,0);
	color: rgb(207,0,0);
	padding: 4px;
	border-radius: 6px;
}

/*=====Primeira imagen (Vinho)======*/

div.primeira-imagem{
	display: block;
	margin-left: 480px;
	width: 240px;
}

div.primeira-imagem{
	width: 240px;
	height: 396px;
	border:solid;
	border-width: 1px;
}

/*===Texto da esquerda (página reservas)==*/

div.texto-esquerda-reservas {
	display: block;
	float:left;
	margin-left: -7px;
	width: 120px;
}

div.texto-esquerda-reservas h2{
	font-size: 8pt;
	font-family: Verdana; /*nao funciona*/
	color: rgb(207,0,0);
	border-top: solid;
	border-color: rgb(207,0,0);
	border-width: 1px;
}

div.texto-esquerda-reservas p{
	font-size: 8pt;
	font-family: Verdana;/*nao funciona*/
	font-weight: bold;
}






